# This is Git's per-user configuration file.
[user]
	name = Milla2000
	email = millajesso2000@gmail.com
# Please adapt and uncomment the following lines:
#	name = Milla
#	email = millajesso2000@gmail.com
